form{
background: #999;
text-align: center;
margin:0, auto;
}

.number{
  color: #900;
  border: 1px solid #900;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
}
.opp{
  color: green;
  border: 1px
  solid #900;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px
}
input[name="answer"] {
  color: green;
  border: 1px
  solid #900;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
